<section class="componente HijoAPadre">
    <h3>Enviando datos del hijo al Padre</h3>
    <section class="componente">
        <h3>Componente Padre</h3>
        <p>Mensaje recibido del hijo: <strong>{{mensaje}}</strong> </p>
        <h3>Enviar un mensaje al Hijo</h3>
        <label for="enviarmensajehijo"></label>
        <input type="text" name="enviarmensajehijo" id="enviarmensajehijo" [(ngModel)]="enviarMensaje">
    </section>
    
    <app-hijo (EventoDelUsuario)="recibirMensajeDelHijo($event)" [recibirMensajeDelPadre]="enviarMensaje"/>
</section>
